{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{ title }}</h1>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Modifica Impiego Mezzo</h4>
            
            <form method="POST">
                {{ form.hidden_tag() }}
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.mezzo_id.label(class="form-label") }}
                            {{ form.mezzo_id(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.data_utilizzo.label(class="form-label") }}
                            {{ form.data_utilizzo(class="form-control") }}
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.km_percorsi.label(class="form-label") }}
                            {{ form.km_percorsi(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.note.label(class="form-label") }}
                            {{ form.note(class="form-control") }}
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ url_for('richiesta.modifica_richiesta_step', step='mezzi', richiesta_id=richiesta.id) }}" class="btn btn-secondary">Annulla</a>
                    <button type="submit" class="btn btn-primary">Salva Modifiche</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
