{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <section class="cards-container">
        <div class="card">
            <h2>Registrati</h2>
            <p>Registrati per acquisire le credenziali e compilare la domanda per
            conto della tua organizzazione di volontariato. Puoi compilare la
            domanda per una o più organizzazioni.</p>
            <a href="#" class="card-link">Leggi di più</a>
        </div>
        <div class="card">
            <h2>Compila</h2>
            <p>Compila le informazioni della richiesta, indicando l'evento a cui ha 
            partecipato la tua organizzazione, l'impiego dei mezzi, le spese 
            sostenute e gli allegati necessari</p>
            <a href="#" class="card-link">Leggi di più</a>
        </div>
        <div class="card">
            <h2>Trasmetti</h2>
            <p>Trasmetti la richiesta e attendi l'esito dell'istruttoria, che ti verrà comunicata</p>
            <a href="#" class="card-link">Contattaci</a>
        </div>
    </section>
{% endblock %}

<section class="cards-container mt-4">
    <div class="card">
        <h2>Test Dashboard Istruttore</h2>
        <a href="{{ url_for('dashboard', role='istruttore') }}" class="btn btn-primary">Vai come Istruttore</a>
    </div>
    <div class="card">
        <h2>Test Dashboard Compilatore</h2>
        <a href="{{ url_for('dashboard', role='compilatore') }}" class="btn btn-primary">Vai come Compilatore</a>
    </div>
    <div class="card">
        <h2>Test Dashboard Amministratore</h2>
        <a href="{{ url_for('dashboard', role='amministratore') }}" class="btn btn-primary">Vai come Amministratore</a>
    </div>
</section>